<%- include('layout') %>

<div class="container mt-2 text-center">
    <div class="card">
        <h3 class="card-header">
            中文斷詞功能面版
        </h3>

        <div class="card-body">
            <form action="./jieba" method="post">
                <div class="text-start text-muted">請輸入要處理的文字:</div>
                <textarea rows="4" name="text" class="form-control">
1,三明治一份有兩個，麵包採用老陳咖啡手工自烘的軟法麵包，上頭還有印上老陳的字樣，雖然小小的，不過兩個吃完其實還蠻飽的，除非你本身食量超大。
2,肉圓這種小吃到處都有，各家口味各有千秋，賣到變老店也不在其數，旱溪樂成宮旁邊有家旱溪肉圓，這家已經是第三代經營，奇奇從很久以前就聽聞旱溪肉圓的美味，身為肉圓控，一定要來嘗試一下。
3,
4," 台中葡萄酒：https://goo.gl/HgnfuX"""
5,就是這個！就是這個！薯餅起司車輪餅，來的時候老闆剛好在做，哇~看起來就好好吃 ！
6,
7," 台中葡萄酒：https://goo.gl/HgnfuX"""
8,雖然跟正統的聖誕樹不一樣，但是架高的舞臺邊堆滿著聖誕禮物和彩球，圍繞著毛毛蟲，還是很可愛很聖誕！
9,外觀就是一棟歐式風格的建築，在遠東街還蠻醒目的！這裡不好停車，可以停藝術街附近停車場再走路過來比較方便。
10,踏入店內就聞到一股花香味，抬頭一看這裡有好多乾燥花，這些乾燥花讓整個咖啡小館充滿清香。
11,在大智路上靠近二信的地方，有家四季炸粿蚵嗲，這家很特別，只用一個移動式車庫就做起生意來了，這家蚵嗲奇奇印象中已經開好久囉。
12,這裡的特色是整顆檸檬下去打的喔！乍看之下我還有點擔心，這樣喝起來會不會苦澀的，結果…是我想太多了說。
13,如果恰巧遇到炸雞起鍋，不怕燙的當然現炸現吃最美味。但是它家炸雞放冷了一樣好吃喔，裹粉酥脆不厚，肉質也很鮮甜！
14,假日清水沙鹿這樣玩~
15,好像藝術品都捨不得吃了~~
16,這次走的是商務風，簡約俐落的裝潢隨處可見插頭，大桌面適合擺上電腦洽公，二樓長桌感覺像是到了圖書館，還有會議室提供投影機與布幕。
17,穿過巷子只看到大片的停車場，瞄了一眼還是沒發現【August】的身影，真的有夠低調的....
18,好像到今天就沒囉~
19,台中肉蛋吐司！你喜歡哪一間呢？
20,冰火不只是菠蘿麵包有，連鬆餅也有冰火鬆餅油，只有這款冰火恰恰有分大小唷，小的是對半切40元，大的是一整塊70元，價格算是裡面高單價的。
21,料還不少，口味還OK，應該是有為了台灣人調整口味吧？只是我覺得湯頭再濃郁一點會比較像在之前韓國吃到的味道。
22,環中夜市等等就開幕了！你會去嗎？
23,這間甜點店有人吃過嗎？
24,"環境我很喜歡，擺設很有美感，讓我拍超多相片的，而且一進門看到的""蒔嚐""店名加上拼貼木牆邊框，底下乾燥花點綴，整個就很適合IG拍照點。"
25,黃麵加上白蘿蔔／竹筍／大貢丸／豬血／油豆腐和三角圓等豐富配料，超大碗的呈現在眼前，我根本就沒有看到黃麵...都在底下...
26,餅皮酥脆，撒上些許胡椒粉的味道超誘人！！包得非常紮實，咬下去的口感令人相當滿足。
27,哇！就是明天！環中夜市要開囉！
28,金黃酥脆的銀絲捲加上融化棉花糖，這牽絲的畫面看起來好誘人 口味也很創新，淡淡黑糖香加上甜蜜纏綿的棉花糖，真是最棒的飯後甜點，深夜會餓別亂看....
29,最新的逢甲夜市54間攻略來囉！你吃過幾間呢？
30,夏天吃紅豆冰、冬天喝紅豆湯，甜蜜暖心，分享給眾家姊妹，還有貼心的男友們囉！
31,紅通通的腿骨肉，染上辛香料的顏色，以印度瑪莎拉香料等多種香料醃製，滋味濃厚，略帶優格的酸甜，晚上看的肚子好餓~
32,少女心大爆發！沒想到配電影的吉拿棒也可以變成一款美美的甜點，兩個細長的圓弧狀，疊在一起剛好變成一個愛心！
33,台中市又多了一個好拍好玩的免費新景點，圖龍3D幻視藝術展，11/19~12/4在新光三越10F展出！
34,哇~今年的中友誠品舊書拍賣會又來囉！要挖寶要趁早~
35,比較特別的是，師傅在廚房內除了煮麵、裝碗，還要在石板上炙烤叉燒肉片，一次要烤數十片那麼多，畢竟一碗需要兩片，加上生意好排隊，所以幾乎手沒停過，
36,有所聞，中85、南金?…若真是這樣，把卡啡那、多那之擺哪？
37,位置實在不太好找，有興趣過來的話就可能要多花點時間找找光復街在哪裡了，如果你是很在意環境乾淨整齊的人就不建議你來這邊了。
38,白色和黃色為主色調的外觀加上大空間，十分引人注目，總共有2層營業樓面。
39,一到南門香烤肉，發現老闆已經不停的一直烤，如果要現場吃的話，真的要非常有耐心等待喔，我們真的是差不多等了一個小時才吃到....
40,再過一段時間就是聖誕節囉！想找吃聖誕大餐的地方嗎？可以做下功課唷！
41,哇！是抹茶紅豆胖~~~
42,手工大湯包沒有我想像中的大顆，我原本以為是像包子那樣的大，但不是，端上桌的時候其中一顆已經破了，不~~~
43,喜歡吃抹茶嗎？那又怎能錯過他呢？
44,天冷吃拉麵，通通百元內。
45,這家評價好像也不錯耶！
46,即將推出第三篇！而您有什麼最想知道的旅遊方式嗎？
47,逢甲公園邊歐絢唯兒親子友善餐廳的加入，讓台中父母多了更多的選擇！！
48,好豪邁的蔥花麵包啊！
49,
50," 營業到凌晨兩點：http://taiwan17go.com/gt2015bbq/"""
                </textarea>

                <select class="form-select mt-2" name="dictMode">
                    <option value="1">中文斷詞 (輸出全部斷詞結果)</option>
                    <option value="2">名詞擷取 (僅輸出名詞)</option>
                    <option value="3">動詞擷取 (僅輸出動詞)</option>
                    <option value="4">情緒詞彙擷取 (僅輸出情緒詞彙與情緒分數)</option>
                    <option value="5">情緒詞彙擷取 (輸出舊版文字雲)(使用D3)</option>
                    <option value="6">情緒詞彙擷取 (輸出新版文字雲)(使用HighChart)</option>
                </select>

                <input type="submit" class="btn btn-primary w-100 mt-2" value="Get Data">
            </form>
        </div>

        <div class="card-footer text-muted">
            Jieba Study
        </div>
    </div>
</div>