<%- include('layout'); %>

<div class="container text-center mt-2">
    <table class="table table-dark table-striped">
        <thead>
        <th>文字</th>
        <th>詞性</th>
        </thead>

        <tbody>
        <% for(let i = 0;i < data.length;i++){ %>
            <tr>
                <td>
                    <%= data[i].word %>
                </td>
                <td>
                    <%= data[i].tag %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>