<%- include('layout'); %>

<div class="container text-center mt-2">
    <table class="table table-dark table-striped">
        <thead>
        <th>文字</th>
        <th>情緒分數</th>
        </thead>
        <tbody>
        <% for(let i=0;i < data.length;i++){ %>
            <% Object.keys(data[i]).forEach(function(key){ %>
                <tr>
                    <td>
                        <%= key %>
                    </td>
                    <td>
                        <%= data[i][key] %>
                    </td>
                </tr>
        <% })} %>
        </tbody>
    </table>
</div>