<%- include('layout'); %>
<div class="container text-center mt-2">
    <div id="positive" class="container text-center mt-2"></div>
    <div id="neutral" class="container text-center mt-2"></div>
    <div id="negative" class="container text-center mt-2"></div>

    <script>
        Highcharts.seriesTypes.wordcloud.prototype.deriveFontSize = function (relativeWeight) {
            var maxFontSize = 25;

            if(relativeWeight < 15){
                return Math.floor(maxFontSize * relativeWeight + 10);
            }
        };

        let mood = ['positive', 'neutral', 'negative'];
        let data = <%- data; %>;

        mood.forEach(moodText => {
            let moodData = [];
            data[moodText].forEach(x => {
                if (moodData.map(x => x.name).flat().indexOf(x) === -1) {
                    moodData.push({
                        name: x,
                        weight: data[moodText].filter(d => d == x).length
                    })
                }
            });

            Highcharts.chart(moodText, {
                chart:{
                    backgroundColor: '#101820FF'
                },
                title: {
                    text: moodText,
                    style: {
                        color: 'gold',
                    }
                },
                series: [{
                    type: 'wordcloud',
                    data: moodData,
                    name: '重複次數'
                }]
            });
        });
    </script>
</div>